<p id="notice"><%= notice %></p>

<p>
  <strong>Roll number:</strong>
  <%= @student.roll_number %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student.subject %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
